# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
build/
dist/
*.spec

# Python virtual environments
.venv/
venv/
env/

# Expense Tracker data
backend/data/transactions.json

# Node
node_modules/
frontend/dist/

# Tauri
frontend/src-tauri/target/
frontend/src-tauri/bin/

# Environment files
.env
.env.*
